<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Image:</strong>
  <% if @post.image.attached? %>
    <%= image_tag @post.image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
